# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/roi-planner/nbproject/private/
/roi-planner-ejb/nbproject/private/
/roi-planner-war/nbproject/private/
roi-supplying-ejb/nbproject/private/private\.xml
/roi-logging/nbproject/private/
/roi-utilities/nbproject/private/
/roi-models/nbproject/private/
/roi-models/build/
/roi-models/dist/
/roi-supplying-war/nbproject/private/
/roi-supplying-war/build/
/roi-supplying-war/dist/